on:
  push:
  schedule:
    - cron: '28 3 * * *'  # every day

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    name: Run tests against the latest git binary from Arch Linux
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Build Arch Linux docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ci/Dockerfile
          push: false
          tags: test-image:latest
      - name: Run tests in Arch Linux docker against recent git
        run: docker run --rm test-image:latest

  build-and-run-with-old-git:
    runs-on: ubuntu-latest
    name: Run tests against an older git binary from Debian
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Build Debian docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ci/Dockerfile.debian
          push: false
          tags: test-image:latest
      - name: Run tests in Debian docker against older git
        run: docker run --rm test-image:latest
